:root {
    /* Backgroung Color */
    --add-btn-background: rgb(43, 41, 41);
    --add-taskColumn-backgroung: rgb(43, 41, 41);
    --add-task-background: rgba(97, 80, 80, 0.479);
    --delete-btn-background: red;

    /* Primary Color */
    --text-color:#f4f4f4;


    /* Primary Variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;


    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-2xl: 25px;

    /* Border Radius Variables  */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 20px;
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: monospace;
    background-color: black;
    color: white;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .left {
    font-size: 30px;
    font-weight: 500;
}

nav .right .add-btn {
    background-color: var(--add-btn-background);
    padding: var(--padding-md);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    outline: none;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}


section {
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex: 1;
}

section .task-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--add-taskColumn-backgroung);
    border: none;
    outline: none;
    border-radius: var(--border-radius-xl);
}

section .task-column .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-lg);
    font-size: 16px;
}

section .task-column .task {
    display: flex;
    flex-direction: column;
    background-color: var(--add-task-background);
    padding: var(--padding-md);
    margin: 10px;
    border-radius: var(--border-radius-md);
    gap: 12px;

}

section .task-column .task .delete{
    align-self: flex-end;
    
}

section .task-column .task .delete-btn{
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-md);
    border: none;
    outline: none;
    background-color: var(--delete-btn-background);
    color: var(--text-color);
    cursor: pointer;
    text
}