*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
  
}

:root {
    /* background color */
    --bg-color: rgb(0, 0, 0);
    --bg-button-color: #1a1a1a;
    --bg-task-color: #2a2a2a;
    --bg-delete-color: #ff4d4d;

    /* primary text color */
    --primary-text-color: #f4f4f4;

    /* padding variables*/
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;

    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border radius variable */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}


main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);
background-color: #2a2a2a;
}